# Ignore target directory
target/

# Ignore logs
logs/

# Ignore IntelliJ IDEA project files
.idea/

# Ignore Maven dependencies
healenium-backend/

# Ignore environment file
healenium.env

# Others
*.ini