<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Properties>
        <Property name="log-path">logs</Property>
    </Properties>

    <Appenders>
        <RollingFile name="file-log" fileName="${log-path}/testRun.log"
                     filePattern="${log-path}/testRun-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{ABSOLUTE} %5p [%t] %c - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

        <!-- Console Appender -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} %5p [%t] %c - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Logger for your application classes -->
        <Logger name="tests" level="debug" additivity="false">
            <AppenderRef ref="file-log"/>
            <AppenderRef ref="console"/>
        </Logger>

        <!-- Root logger -->
        <Root level="debug" additivity="false">
            <AppenderRef ref="file-log"/>
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
